@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

/* GLOBAL STYLES
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}
body {
  padding-top:70px;
  color: #5a5a5a;
  font-family: 'Arbutus Slab', serif;
  background-color: #DB6061;
}
body.privacy-terms {
  background-color: #34495D;
  color: #FFFFFF;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
/* THEME COLORS
-------------------------------------------------- */
/*.blue {
  background-color: #587A95
}
.dark-blue {
  background-color: #34495D;
}
.grey {
  background-color: #e9ebee;
}
.red {
  background-color: #DB6061;
}
.dark-red {
  background-color: #B14242;
}
.white-text {
  color: #FFFFFF;
}*/


/* THEME COLORS
-------------------------------------------------- */
.light-green{
  background-color: #80e27e;
}
.green{
  background-color: #4caf50;
}
.dark-green{
  background-color: #087f23;
}

.light-yellow{
  background-color: #fff263;
}

.dark-yellow{
  background-color: #
}





/* FOOTER
-------------------------------------------------- */
footer {
  text-align: center;
}